In [1]:
import matplotlib.pyplot as plot
import numpy as np
import pandas as pd
import seaborn as sns
import xgboost as xgb

from sklearn import cluster
from sklearn import model_selection
from sklearn import neural_network
from sklearn import preprocessing

/home/user/opt/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
pd.options.display.width = 200
pd.options.display.max_columns = 50

In [3]:
train = pd.read_csv('../data/in/train.csv', delimiter=';')
test = pd.read_csv('../data/in/test.csv', delimiter=';')
#y = train.cardio
#train.drop('cardio', axis=1, inplace=True)
test['cardio'] = -1

In [4]:
train.cardio.value_counts()

0    35021
1    34979
Name: cardio, dtype: int64

In [5]:
train.describe()

                 id           age        gender        height        weight         ap_hi         ap_lo   cholesterol          gluc         smoke          alco        active        cardio
count  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000
mean   49972.419900  19468.865814      1.349571    164.359229     74.205690    128.817286     96.630414      1.366871      1.226457      0.088129      0.053771      0.803729      0.499700
std    28851.302323   2467.251667      0.476838      8.210126     14.395757    154.011419    188.472530      0.680250      0.572270      0.283484      0.225568      0.397179      0.500003
min        0.000000  10798.000000      1.000000     55.000000     10.000000   -150.000000    -70.000000      1.000000      1.000000      0.000000      0.000000      0.000000      0.000000
25%    25006.750000  17664.000000      1.000000    159.000000     65.000000    120.000000     80.000000      1.000000      1.000000      0.000000      0.000000      1.000000      0.000000
50%    50001.500000  19703.000000      1.000000    165.000000     72.000000    120.000000     80.000000      1.000000      1.000000      0.000000      0.000000      1.000000      0.000000
75%    74889.250000  21327.000000      2.000000    170.000000     82.000000    140.000000     90.000000      2.000000      1.000000      0.000000      0.000000      1.000000      1.000000
max    99999.000000  23713.000000      2.000000    250.000000    200.000000  16020.000000  11000.000000      3.000000      3.000000      1.000000      1.000000      1.000000      1.000000

In [6]:
train.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'], dtype='object')

In [7]:
test.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'], dtype='object')

In [8]:
test.smoke = test.smoke.replace('None', -1).astype('int32')
test.active = test.active.replace('None', -1).astype('int32')
test.alco = test.alco.replace('None', -1).astype('int32')

In [9]:
test.describe()

                 id           age        gender        height        weight         ap_hi         ap_lo   cholesterol          gluc         smoke          alco        active   cardio
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000  30000.0
mean   50062.686900  19455.528400      1.353733    164.322267     74.120615    130.271300     95.689000      1.368033      1.222700     -0.022033     -0.052067      0.631533     -1.0
std    28906.167148   2477.840922      0.478136      8.213740     14.341540    212.501152    163.852598      0.679166      0.566494      0.423659      0.383789      0.652569      0.0
min        5.000000   8865.000000      1.000000     50.000000     10.000000   -130.000000    -90.000000      1.000000      1.000000     -1.000000     -1.000000     -1.000000     -1.0
25%    24983.250000  17658.000000      1.000000    159.000000     65.000000    120.000000     80.000000      1.000000      1.000000      0.000000      0.000000      0.000000     -1.0
50%    49995.500000  19694.000000      1.000000    165.000000     72.000000    120.000000     80.000000      1.000000      1.000000      0.000000      0.000000      1.000000     -1.0
75%    75232.250000  21320.000000      2.000000    170.000000     82.000000    140.000000     90.000000      2.000000      1.000000      0.000000      0.000000      1.000000     -1.0
max    99997.000000  23705.000000      2.000000    198.000000    183.000000  16020.000000   9100.000000      3.000000      3.000000      1.000000      1.000000      1.000000     -1.0

In [10]:
df_all = pd.concat([train, test])
df_all.describe()

                  id            age         gender         height         weight          ap_hi          ap_lo    cholesterol           gluc         smoke           alco         active        cardio
count  100000.000000  100000.000000  100000.000000  100000.000000  100000.000000  100000.000000  100000.000000  100000.000000  100000.000000  100000.00000  100000.000000  100000.000000  100000.00000
mean    49999.500000   19464.864590       1.350820     164.348140      74.180167     129.253490      96.347990       1.367220       1.225330       0.05508       0.022020       0.752070       0.04979
std     28867.657797    2470.428376       0.477229       8.211187      14.379494     173.639687     181.437372       0.679922       0.570543       0.33563       0.286629       0.494371       0.80456
min         0.000000    8865.000000       1.000000      50.000000      10.000000    -150.000000     -90.000000       1.000000       1.000000      -1.00000      -1.000000      -1.000000      -1.00000
25%     24999.750000   17662.000000       1.000000     159.000000      65.000000     120.000000      80.000000       1.000000       1.000000       0.00000       0.000000       1.000000      -1.00000
50%     49999.500000   19700.000000       1.000000     165.000000      72.000000     120.000000      80.000000       1.000000       1.000000       0.00000       0.000000       1.000000       0.00000
75%     74999.250000   21324.000000       2.000000     170.000000      82.000000     140.000000      90.000000       2.000000       1.000000       0.00000       0.000000       1.000000       1.00000
max     99999.000000   23713.000000       2.000000     250.000000     200.000000   16020.000000   11000.000000       3.000000       3.000000       1.00000       1.000000       1.000000       1.00000

In [11]:
df2 = pd.DataFrame(index=df_all.index)
df2['y'] = df_all.cardio
for c in ['active', 'alco', 'smoke', 'age']:
    df2[c] = df_all[c]
df2.describe()

                  y         active           alco         smoke            age
count  100000.00000  100000.000000  100000.000000  100000.00000  100000.000000
mean        0.04979       0.752070       0.022020       0.05508   19464.864590
std         0.80456       0.494371       0.286629       0.33563    2470.428376
min        -1.00000      -1.000000      -1.000000      -1.00000    8865.000000
25%        -1.00000       1.000000       0.000000       0.00000   17662.000000
50%         0.00000       1.000000       0.000000       0.00000   19700.000000
75%         1.00000       1.000000       0.000000       0.00000   21324.000000
max         1.00000       1.000000       1.000000       1.00000   23713.000000

In [12]:
dfs = [df2]
for col in ['ap_hi', 'ap_lo', 'height', 'weight']:
    df = pd.DataFrame()
    df['x'] = df_all[col]
    idx = (np.abs(df.x) > 10).values
    df.x[idx] = df.x[idx] / 10
    df.x = df.x.astype('int32')
    dfs.append(pd.get_dummies(df.x, prefix=col))
df3 = pd.concat(dfs)
del dfs
df3.describe()

,active,age,alco,ap_hi_-1,ap_hi_-10,ap_hi_-11,ap_hi_-12,ap_hi_-13,ap_hi_-14,ap_hi_-15,ap_hi_1,ap_hi_10,ap_hi_11,ap_hi_1102,ap_hi_111,ap_hi_113,ap_hi_1150,ap_hi_12,ap_hi_120,ap_hi_1200,ap_hi_1208,ap_hi_13,ap_hi_130,ap_hi_1301,ap_hi_14,...,height_6,height_7,height_8,height_9,smoke,weight_1,weight_10,weight_11,weight_12,weight_13,weight_14,weight_15,weight_16,weight_17,weight_18,weight_2,weight_20,weight_3,weight_4,weight_5,weight_6,weight_7,weight_8,weight_9,y
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.0000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000
mean,0.752070,19464.864590,0.022020,0.000010,0.000020,0.000010,0.000020,0.000010,0.000010,0.000010,0.002430,0.038930,0.127970,0.000010,0.000010,0.000010,0.000010,0.404080,0.000020,0.000010,0.000010,0.132170,0.000020,0.000020,0.140750,...,0.000150,0.0001,0.000030,0.000050,0.05508,0.000030,0.033960,0.012940,0.004870,0.001940,0.000590,0.000440,0.000310,0.000160,0.000080,0.000060,0.000020,0.000670,0.013200,0.101960,0.297830,0.277600,0.170430,0.082910,0.04979
std,0.494371,2470.428376,0.286629,0.003162,0.004472,0.003162,0.004472,0.003162,0.003162,0.003162,0.049235,0.193429,0.334058,0.003162,0.003162,0.003162,0.003162,0.490716,0.004472,0.003162,0.003162,0.338677,0.004472,0.004472,0.347765,...,0.012247,0.0100,0.005477,0.007071,0.33563,0.005477,0.181127,0.113016,0.069616,0.044003,0.024283,0.020972,0.017604,0.012648,0.008944,0.007746,0.004472,0.025876,0.114131,0.302597,0.457307,0.447817,0.376012,0.275748,0.80456
min,-1.000000,8865.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,-1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.00000
25%,1.000000,17662.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.00000
50%,1.000000,19700.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,1.000000,21324.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.00000
max,1.000000,23713.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [13]:
xbg_params = dict(
    learning_rate = 0.05,
    objective = 'binary:logistic',
    eval_metric = 'logloss',
    seed = 1,
    silent = 1,
    max_depth = 5
                )
idx = (df_all.cardio > -1).values
dtrain = xgb.DMatrix(df_all.ix[idx].drop('cardio', axis=1).values, df_all.cardio.values)
xgb.cv(xbg_params, dtrain, nfold=10, num_boost_round=10000, early_stopping_rounds=100, seed=42)

     test-logloss-mean  test-logloss-std  train-logloss-mean  train-logloss-std
0             0.680035          0.000198            0.679941           0.000050
1             0.668193          0.000397            0.668003           0.000094
2             0.657458          0.000568            0.657189           0.000134
3             0.647725          0.000759            0.647370           0.000170
4             0.638882          0.000926            0.638427           0.000204
5             0.630803          0.001104            0.630261           0.000230
6             0.623466          0.001261            0.622802           0.000264
7             0.616741          0.001435            0.615982           0.000294
8             0.610611          0.001574            0.609756           0.000331
9             0.605000          0.001734            0.604050           0.000343
10            0.599874          0.001877            0.598817           0.000365
11            0.595169          0.002018            0.594033           0.000391
12            0.590862          0.002150            0.589635           0.000409
13            0.586916          0.002291            0.585594           0.000425
14            0.583311          0.002425            0.581876           0.000443
15            0.580005          0.002559            0.578465           0.000458
16            0.576946          0.002699            0.575322           0.000469
17            0.574126          0.002832            0.572420           0.000479
18            0.571543          0.002923            0.569750           0.000501
19            0.569166          0.003019            0.567279           0.000515
20            0.566970          0.003144            0.565010           0.000521
21            0.564988          0.003225            0.562911           0.000537
22            0.563157          0.003343            0.560982           0.000550
23            0.561474          0.003453            0.559198           0.000561
24            0.559928          0.003543            0.557551           0.000575
25            0.558494          0.003619            0.556023           0.000577
26            0.557180          0.003713            0.554605           0.000587
27            0.555954          0.003807            0.553289           0.000593
28            0.554821          0.003884            0.552067           0.000596
29            0.553765          0.003975            0.550922           0.000605
..                 ...               ...                 ...                ...
110           0.538864          0.006069            0.528860           0.000602
111           0.538852          0.006066            0.528770           0.000614
112           0.538847          0.006066            0.528699           0.000593
113           0.538830          0.006080            0.528612           0.000614
114           0.538828          0.006086            0.528548           0.000612
115           0.538820          0.006097            0.528484           0.000617
116           0.538819          0.006106            0.528413           0.000617
117           0.538805          0.006112            0.528347           0.000610
118           0.538798          0.006107            0.528256           0.000608
119           0.538796          0.006117            0.528196           0.000598
120           0.538793          0.006120            0.528119           0.000597
121           0.538784          0.006121            0.528051           0.000607
122           0.538786          0.006128            0.527979           0.000615
123           0.538786          0.006130            0.527930           0.000610
124           0.538781          0.006127            0.527859           0.000609
125           0.538782          0.006139            0.527774           0.000613
126           0.538774          0.006142            0.527710           0.000613
127           0.538767          0.006139            0.527656           0.000608
128           0.538765          0.006137            0.527609           0.000611
129           0.538766          0.006131            0.527541           0.000612
130           0.538766          0.006133            0.527487           0.000611
131           0.538767          0.006132            0.527408           0.000624
132           0.538768          0.006133            0.527329           0.000622
133           0.538753          0.006139            0.527261           0.000613
134           0.538757          0.006148            0.527208           0.000609
135           0.538762          0.006148            0.527139           0.000616
136           0.538755          0.006157            0.527086           0.000616
137           0.538754          0.006162            0.527023           0.000609
138           0.538745          0.006171            0.526963           0.000611
139           0.538734          0.006163            0.526899           0.000620

[140 rows x 4 columns]

In [14]:
xbg_params = dict(
    learning_rate = 0.05,
    objective = 'binary:logistic',
    eval_metric = 'logloss',
    seed = 1,
    silent = 1,
    max_depth = 7,
    alpha = 0.1,
    gamma = 1
                )
idx = (df3.y > -1).values
dtrain = xgb.DMatrix(df3.ix[idx].drop('y', axis=1).values, df3.y.values)
xgb.cv(xbg_params, dtrain, nfold=10, num_boost_round=10000, early_stopping_rounds=100, seed=42)

    test-logloss-mean  test-logloss-std  train-logloss-mean  train-logloss-std
0            0.690174          0.000141            0.689860           0.000028
1            0.687511          0.000280            0.686886           0.000059
2            0.685109          0.000414            0.684192           0.000092
3            0.682940          0.000532            0.681739           0.000119
4            0.680987          0.000659            0.679512           0.000143
5            0.679216          0.000775            0.677475           0.000168
6            0.677607          0.000865            0.675615           0.000190
7            0.676175          0.000971            0.673920           0.000208
8            0.674867          0.001052            0.672373           0.000222
9            0.673688          0.001145            0.670956           0.000243
10           0.672626          0.001223            0.669659           0.000255
11           0.671664          0.001306            0.668466           0.000279
12           0.670801          0.001388            0.667369           0.000294
13           0.670010          0.001459            0.666363           0.000304
14           0.669298          0.001534            0.665432           0.000322
15           0.668642          0.001597            0.664582           0.000320
16           0.668060          0.001673            0.663794           0.000321
17           0.667529          0.001737            0.663063           0.000322
18           0.667044          0.001782            0.662391           0.000325
19           0.666615          0.001846            0.661771           0.000323
20           0.666225          0.001907            0.661200           0.000327
21           0.665867          0.001949            0.660680           0.000325
22           0.665550          0.002007            0.660189           0.000323
23           0.665277          0.002059            0.659727           0.000332
24           0.665002          0.002103            0.659304           0.000333
25           0.664763          0.002145            0.658910           0.000332
26           0.664554          0.002179            0.658540           0.000333
27           0.664363          0.002220            0.658194           0.000354
28           0.664200          0.002264            0.657871           0.000355
29           0.664050          0.002295            0.657571           0.000349
30           0.663925          0.002335            0.657293           0.000351
31           0.663806          0.002351            0.657032           0.000356
32           0.663707          0.002376            0.656782           0.000351
33           0.663614          0.002408            0.656548           0.000355
34           0.663532          0.002440            0.656326           0.000364
35           0.663453          0.002463            0.656111           0.000360
36           0.663387          0.002492            0.655921           0.000352
37           0.663345          0.002506            0.655734           0.000360
38           0.663305          0.002527            0.655558           0.000366
39           0.663266          0.002547            0.655396           0.000360
40           0.663235          0.002571            0.655246           0.000363
41           0.663200          0.002588            0.655095           0.000367
42           0.663164          0.002608            0.654959           0.000367
43           0.663136          0.002627            0.654837           0.000368
44           0.663124          0.002648            0.654711           0.000372
45           0.663099          0.002653            0.654602           0.000366
46           0.663095          0.002666            0.654482           0.000363
47           0.663075          0.002676            0.654374           0.000371
48           0.663071          0.002681            0.654269           0.000366
49           0.663052          0.002706            0.654172           0.000362
50           0.663043          0.002720            0.654067           0.000362
51           0.663041          0.002730            0.653969           0.000357
52           0.663030          0.002740            0.653865           0.000352